/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
#stackPane{
    -fx-background-color: #557A46;
}
#stackPane_Canvas{
    -fx-background-color: #DDDDDD ;
    -fx-background-insets: 0, 20 ;
    -fx-padding: 5px ;
}