/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
#scrollPaneRanking .scroll-bar:vertical,
#scrollPaneRanking .scroll-bar:horizontal,
#scrollPaneRanking .viewport ,
#scrollPaneRanking,
#listViewRanking,
.list-cell
{
    -fx-background-color: transparent;
}
.list-cell{
    -fx-text-fill: black;
    -fx-font-size: 20px;
    font-family: cursive;
}
/* Màu chữ khi item được chọn */
.list-cell:selected, .list-cell:notselected {
    -fx-text-fill: black; /* hoặc màu chữ mặc định của bạn */
}

#inputName1 {
/*        -fx-background-color: transparent;*/

    -fx-border-radius: 25px;
}
#labelName1, #labelName2 {
    -fx-text-fill: black;
}